.brends {
   padding: 37px 0px 7px 0px;
   background: #EFEFEF;
   border-radius: 0px;
}

.brends__container {
   padding: 0px 80px 0px 99px;
   display: flex;

   @media (min-width: 1440px) {
      display: block;
   }

   @media (max-width: ($md2 + px)) {
      padding: 0px 20px;
   }
}

.brends__items {
   @include center;
   flex-wrap: wrap;
}

._brend__item {
   margin: 0px 46px 30px 0px;
   @include center;

   @media (max-width: 546px) {
      margin-right: 10px;
   }

   &:last-child {
      margin-right: 0px;
   }

   ._item__pic1 {
      margin-right: 8px;
   }
}

._item__title {
   margin-right: 8px;
   @include column-center;

   .item-title__name {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1.9px;
      text-align: center;
      text-transform: uppercase;
   }

   .item-title__descr {
      font-size: 12px;
      line-height: 18px;
   }
}