.download {
   padding: 82px 0px 71px 0px;
   background-color: #FCD0BA;
}

.download__container {
   padding: 0px 54px;
   text-align: center;

   @media (max-width: ($md2+ px)) {
      padding: 0px 16px;
   }
}

.download__title {
   h2 {
      padding: 0px 0px 46px 0px;
      @include adaptive-font (90, 16);
      line-height: calc(108 / 90);
      font-weight: 700;
   }
}

.download__form {

   input {
      padding: 18px 6px 18px 21px;
      @include adaptive-font (16, 16);
      line-height: calc(24 / 16);
      color: rgba(0, 0, 0, 0.49);
      ;
      background: $whiteColor;
      border-radius: 50px 0px 0px 50px;
      transition: all 0.3s ease;

      &:hover {
         box-shadow: 0px 0px 30px $blackColor;
      }

      @media (max-width: ($md2+ px)) {
         padding: 18px 6px 18px 10px;
      }
   }
}